@model Webthuexe.Models.CHITIETLICHCHAY

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CHITIETLICHCHAY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DAHOANTHANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAHOANTHANH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOIDON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOIDON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOIDI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOIDI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TKTAIXE.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TKTAIXE.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHITIETTHUEXE.BIENXE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETTHUEXE.BIENXE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
