@model Webthuexe.Models.PHIEUDENBU

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PHIEUDENBU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAYDENBU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYDENBU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TONGGIATIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONGGIATIEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOIDUNG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOIDUNG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MANV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MANV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOADONTHUEXE.MAKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOADONTHUEXE.MAKH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
