@model IEnumerable<Webthuexe.Models.NHANVIENQLBAIXE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TENDAYDU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIOITINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TUOI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYSINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SONHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CCCD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DAXACTHUC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ANHDAIDIEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THANHPHO_TINH.TENTP_TINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHUONG_XA.TENXP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUAN_HUYEN.TENQH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TKNVBAIXE.SDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENDAYDU)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIOITINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TUOI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYSINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SONHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CCCD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DAXACTHUC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ANHDAIDIEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THANHPHO_TINH.TENTP_TINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHUONG_XA.TENXP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QUAN_HUYEN.TENQH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TKNVBAIXE.SDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MANVBAIXE }) |
            @Html.ActionLink("Details", "Details", new { id=item.MANVBAIXE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MANVBAIXE })
        </td>
    </tr>
}

</table>
