@model Webthuexe.Models.TKNVBAIXE

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TKNVBAIXE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATKHAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATKHAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYTAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYTAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHANVIENQLBAIXE.TENDAYDU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHANVIENQLBAIXE.TENDAYDU)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MANVBAIXE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
